/* You can add global styles to this file, and also import other style files */
@import 'leaflet/dist/leaflet.css';


.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-tile-container {
  z-index: 1 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 10 !important;
}